@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

:root {
  --gridcontainer-width: 600px;
  --gridcontainer-height: 600px;
  --cell-width: calc(var(--gridcontainer-width) / 24px);
  --cell-height: calc(var(--gridcontainer-height) / 24px);
}

body {
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  height: 100vh;
}
a {
  color: white;
}

header {
  margin-top: 64px;
}

footer {
  margin-bottom: 64px;
}

button,
input,
a {
  font-family: inherit;
}

button {
  font-weight: bold;
  padding: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#clear {
  background-color: crimson;
  color: white;
}

/* if its 16x16: 600/16
if its 24/24: 600/24 */
.grid-item {
  width: var(--cell-width);
  height: var(--cell-height);
  background-color: white;
}

.grid-item.activeborder {
  border: 1px solid black;
}

.grid-container {
  display: inline-grid;
  width: var(--gridcontainer-width);
  height: var(--gridcontainer-height);
  background-color: gray;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.eas-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.controls {
  display: flex;
  width: 260px;
  gap: 32px;
  padding: 8px;
  flex-direction: column;
}

.color-input-container {
  display: flex;
  flex-direction: column;
}

.grid-slider-container {
  display: flex;
  flex-direction: column;
}

input[type="color"] {
  margin-top: 8px;
  width: 100%;
  height: 64px;
}

/* .row,
.column,
.cell {
  width: var(--cell-width);
  height: var(--cell-height);
  background-color: green;
  display: inline-block;
} */
