:root {
  --gridcontainer-width: 600px;
  --gridcontainer-height: 600px;
}

.grid-item {
  width: 24px;
  height: 24px;
  background-color: coral;
}

.grid-container {
  display: inline-grid;
  background-color: gray;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
}

/* .row,
.column,
.cell {
  width: var(--cell-width);
  height: var(--cell-height);
  background-color: green;
  display: inline-block;
} */
